<div class = "container">
  <div class = "heading">
    <h1>Welcome to Bike Chapel Hill</h1>
    <h2>Your source for used bikes in Chapel Hill</h2>
    <div class = "landing-image">
    <%= image_tag("bike.gif",class: "img-responsive") %>
    </div>
  </div>
</div>
