// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
    font-size:40px;
    font-family: "Times New Roman", Georgia, Serif;
}
.site-footer{
    position:fixed;
    width:100%;
    height: 60px;
    background-color:#f5f5f5;
    line-height:60px;
    bottom:0;
    text-align:center;
}

.heading{
    text-align:center;
}

img{
    margin:auto;
    display:block;
}